<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
</head>
<body>
    <div class="container">
        <div class="content first-content">
            <div class="first-column">
                <h2 class="title">Bem-vindo de volta!</h2>
                <p class="description">Para se manter conectado conosco, faça o login com a sua conta pessoal.</p>
                <button class="btn">Conecte-se</button>
            </div>

            <div class="content second-column">
                <h2 class="title">Crie uma conta</h2>
                <form class="form" method="post" action="/database/register/">
                    {% csrf_token %}
                    <input type="text" placeholder="Nome Completo" name="fullName">
                    <input type="text" placeholder="CPF" name="cpf">
                    <input type="text" placeholder="Email" name="email">
                    <input type="password" placeholder="Senha" name="password">
                    <input type="date" name="dateBirth">
                    <button class="btn" type="submit">Inscreva-se</button>
                </form>
            </div>
        </div> 

        <div class="content second-content"> 
            <div class="first-column">
                <h2 class="title">Olá amigo</h2>
                <p class="description">Entre com seus detalhes pessoais</p>
                <p class="description">e comece uma jornada com a gente</p>
                <button class="btn">Cadastre-se</button>
            </div>

            <div class="content second-column">
                <h2 class="title">Faça Login</h2>
                <p class="description">Ou utilize seu email para se cadastrar</p>
                <form class="form">
                    <input type="text" placeholder="Email" name="email">
                    <input type="password" placeholder="Senha" name="password">
                    <a href="#">Esqueceu sua senha?</a>
                    <button class="btn">Login</button>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
